@font-face {
  font-family: Lato-Regular;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
* {
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
}

.navbar {
  min-width: 100%;
  background-color: var(--primary-navbar-color);
  color: var(--navbar-text-color);
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: var(--spacing-medium);
  font-family: Lato-Regular, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* LOGO STYLE --------------- */
.navbar__logo-container {
  width: 48px;
  height: 48px;
  padding: var(--font-size-x-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo {
  width: 32px;
  height: auto;
}

/* LINK STYLES ------------ */
.navbar__link-container {
  flex-grow: 1;
}

.navbar__links {
  height: 100%;
  display: flex;
  gap: var(--spacing-x-large);
  justify-content: center;
}

.navbar__link a {
  color: inherit;
  font-size: var(--font-size-base);
}

.navbar__link:hover {
  color: var(--navbar-hover-color);
  transition: all 0.2s ease;
  cursor: pointer;
}

.navbar__link--active {
  border-bottom: 1px solid var(--navbar-text-color);
}
.navbar__link--active:hover {
  border-bottom: 1px solid var(--navbar-hover-color);
  transition: all 0.2s ease;
}

/* STYLES FOR TOGGLE BUTTON ----------- */
.navbar__toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
  z-index: 1;
}

.navbar__toggle-button {
  background-color: transparent;
  border: none;
  z-index: 1;
}

.navbar__toggle-button:hover {
  color: var(--navbar-hover-color);
}

.navbar__toggle-logo {
  display: block;
  color: var(--navbar-text-color);
  visibility: hidden;
}

.navbar__toggle-logo:hover {
  color: var(--navbar-hover-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .navbar__toggle-logo {
    visibility: visible;
  }

  .navbar__toggle-button:hover {
    cursor: pointer;
  }

  .navbar__links {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -1000px;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    transition: 1s;
    background-color: var(--primary-navbar-color);
  }

  .navbar__links--active {
    right: 0;
    z-index: 1;
  }

  .navbar__link a {
    display: block;
    padding: var(--spacing-medium) 0 var(--spacing-small) var(--spacing-medium);
  }

  .navbar__link a:hover {
    background-color: #d5d5d53d;
    transition: all 0.2s ease;
  }
}

@media screen and (max-width: 580px) {
  .navbar__links {
    width: 100%;
  }
}
