:root {
  /* COLOR ---------*/
  --text-color: #000;
  --background-color: #fff;
  --button-color: #2f8af1;

  /* Navbar --------- */
  --primary-navbar-color: #000;
  --navbar-hover-color: #a3a3a3;
  --navbar-text-color: #fff;

  /* SPACING */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2;
  --spacing-x-large: 4rem;

  /* FONTS */
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* Product card */
  --card-height: 400px;
  --card-width: 300px;
  --card-hover-shadow: 0px 0px 2px 2px #bbbbbb;

  /* Border */
  --product-card-border-radius: 16px;
}
