:root {
  /* Color ---------*/
  --text-color: #000;
  --background-color: #fafafc;
  --button-color: #2f8af1;
  --product-link-color: #3e3e3e;
  --overlay-background-color: #161617c5;

  /* Navbar Colors --------- */
  --primary-navbar-color: #000;
  --navbar-hover-color: #a3a3a3;
  --navbar-text-color: #fff;

  /* Footer Colors --------- */
  --footer-background: #000;
  --footer-foreground: #fff;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;

  /* Fonts */
  --font-size-small: 0.8rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* Product card */
  --card-height: 400px;
  --card-width: 300px;
  --card-box-shadow: 0px 0px 2px 2px #efeff3;
  --card-hover-shadow: 0px 0px 4px 4px #efeff3;

  /* Border */
  --product-card-border-radius: 16px;
}
